@font-face {
  font-family: 'Open Sans';
  src: url('./font/Open_Sans/OpenSans-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: 'Open Sans';
}

.container {
  position: relative;
  width: 100vw;
}

.Navbar {
  height: 7vh;
  background: #fff;
}